:root {
    --pink: rgb(244, 194, 203);
    --light: rgb(255, 255, 255);
    --darkgrey: rgba(101, 101, 101, 0.952);
    --lightgrey: rgba(214, 214, 214, 0.808);
    --dark: rgb(0, 0, 0);
    --blue: #36d6fef0;
    --primary: #8f0b0b;
    --fadedprimary: #db5959;
    --secondary: #ffd700;
    --steelblue: #4682b4;
}

#override {
    font-family: "Source Sans Pro";
}

/* Navbar */
#override .custom-link {
    color: black;
}

#override .custom-link:hover {
    color: var(--secondary);
    font-weight: 900;
    cursor: pointer;
}

#override .custom-nav {
    border-bottom: 4px solid var(--primary);
}

/* Home  */
#override .bg-custom-lg {
    background-color: var(--lightgrey);
}

#override #landing {
    background-color: var(--lightgrey);
}

#override .name-span {
    color: var(--primary);
}

#override .landing-btn {
    background: var(--secondary);
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5%;
    transition: all 0.2s ease-in;
}

#override .landing-btn:hover {
    padding: 12px;
    font-weight: 900;
    background-color: var(--primary);
    color: white;
    letter-spacing: 2px;
}

#override .section-heading {
    letter-spacing: 3px;
    font-weight: bolder;
}

#override .section-underline {
    width: 30px;
    opacity: 1;
    border-radius: 3px;
    height: 6px;
}

#override .underline-secondary {
    border: 1px solid var(--secondary);
    background: var(--secondary);
}

#override .underline-primary {
    border: 1px solid var(--primary);
    background: var(--primary);
}

#override #profile-pic {
    width: 90%;
    max-width: 400px;
    /* height: 40vh; */
    border-radius: 50%;
    object-fit: cover;
}

#override .skill-icon {
    color: gray;
    opacity: 0.8;
    transition: all 0.2s ease-in;
}

#override .skill-icon:hover {
    color: var(--secondary);
    opacity: 1;
    cursor: default;
    margin-top: -10px;
}

#override .custom-btn {
    background-color: var(--secondary);
    border: none;
    opacity: 0.9;
    transition: all 0.2s;
}

#override .custom-btn:hover {
    background-color: var(--primary);
    border: none;
    color: white;
    opacity: 1;
}

#override .project-preview-pic {
    max-width: 450px;
    width: 40vw;
}

@media screen and (max-width: 992px) {
    #override .project-preview-pic {
        width: 85%;
        margin-bottom: 20px;
        max-width: none;
    }
}

#override #custom-footer {
    width: 100%;
    background: var(--darkgrey);
    color: var(--lightgrey);
    min-height: 14vh;
}

/* Footer */
#override .footer-social {
  color: white;
  opacity: 0.9;
  font-size: large;
}

#override .footer-social:hover {
  opacity: 1;
  box-shadow: 0px 0px 2px 2px lightgray;
}

/* Carousel */
#override .carousel-item-img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#override .carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    background-color: rgb(58, 58, 58);
    padding: 20px 0 30px
}

#override .carousel-indicators {
    margin-bottom: 10px;
}

#override .carousel-control-prev-icon, #override .carousel-control-next-icon {
    background-color: gray;
    opacity: 0.7;
}

/* Project View */
#override .project-view-inner {
    padding: 0 30px
}

#override .tech-used {
    color: var(--pink);
    background-color: var(--fadedprimary);
    font-weight: 100;
    border-radius: 10%;
}

@media screen and (min-width: 762px) {
    #override .project-view-inner {
        padding: 0;
        width: 90%;
        max-width: 1400px;
    }
}